// ==========================================================
// HEADER
// ==========================================================
@use "../utilities/variables" as *;

header {
  color: $color-primario;
  background-color: $color-fondo;
  background-image: url($img-portada);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $espacio-m $espacio-xl;
}

// Variante del header en la página de eventos (otra imagen de fondo)
.header-eventos {
  background-image: url($img-eventos);
}
