// ==========================================================
// MAIN — grilla principal de cada página.
// ==========================================================
@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

main {
  color: $color-primario;
  background-color: $color-fondo;
  display: grid;
  grid-template-areas:
    "titulo"
    "promociones"
    "info"
    "contenido";
  gap: $espacio-l;
  padding: $espacio-m;
  margin: $espacio-m;
  justify-items: center;

  @include desde($bp-desktop) {
    grid-template-columns: 1fr; // sin cambio de columnas
  }
}

// Áreas de la grilla
h1 {
  grid-area: titulo;
}

aside {
  grid-area: info;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: $espacio-l;
  grid-area: contenido;

  h2 {
    width: 100%;
    text-align: center;
  }
}
